{% extends 'base.html' %}

{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Upload</li>
{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary js-upload-photos mb-3">
  Upload photos
</button>

<input id="fileupload" type="file" name="file" multiple style="display: none;" data-url="{% url 'upload' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

<table id="gallery" class="table table-bordered">
  <thead>
    <tr>
      <th>Photo</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
    <tr>
      <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/upload/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/upload/photo.js' %}"></script>
{% endblock %}
